.pages__index
    .figures
        @include grid
        @include grid--large
        .figure
            @include normal-text
            span
                @include large-text
                font-weight: bold
                color: $color
                display: block
                margin-bottom: 5px
    .verbatims
        @include grid
        @include grid--large
        .verbatim
            position: relative
            @include normal-text
            padding-right: 30px
            @include mobile
                padding-right: 0
            &::before
                content: "“"
                color: $color
                font-size: 60px
                display: block
                position: absolute
                top: 13px
                left: -23px
