.pages__index
  background-image: url('/assets/images/background/dark.svg')
  background-repeat: no-repeat
  background-position: right 82px
  background-size: 800px
  .breadcrumb
    display: none
  @include mobile
    background-size: 400px
  main
    padding-top: 600px
    @include mobile
      padding-top: 300px
    > h1
      display: none
