.resources
  margin-top: 60px
  @include grid
  @include grid--large
  &__resource
    background: #2d2d2d
    &__title
      margin-top: 0 !important
    &__texts
      padding: 20px 15px
    &__description
      @include small-text
    &__partner
      @include very-small-text
      font-weight: bold
      text-transform: uppercase
    &__url
      display: block
      font-weight: bold
      text-align: right
