---
title: Écoles
permalink: /ecoles
chapo: "**Les écoles s’engagent pour une communication plus responsable !** Quels que soient les cursus (communication, publicité, création, numérique, influence…), les problématiques éthiques et écologiques sont incontournables pour des formations pertinentes et ancrées dans l’époque. Votre école n’est pas encore dans la liste ? Parlez de Reboot ! à vos enseignants !"
aside: "Vous représentez une école ? [Ça se passe par là !](/ecoles/participer)"
---

{% include count.html %}

<h2 class="category">Écoles participantes</h2>

<section class="schools">
  {% for school in site.schools %}
    <article class="school">
      <a href="{{ school.url }}">
        <img src="/assets/images/schools/{{ school.slug }}.png" alt="{{ school.title }}" class="img-fluid">
      </a>
      <h3 class="school__name"><a href="{{ school.url }}">{{ school.title }}</a></h3>
    </article>
  {% endfor %}
</section>
