---
title: Équipe
permalink: /equipe
chapo: "**Le projet Reboot! est porté par un collectif de professionnel·le·s de
  la communication engagé·e·s.** Toutes les contributions sont bienvenues :)"
text: Les décisions à trancher sont mises au vote sur Slack. Pour nous contacter, écrivez à <a href="mailto:equipe@reboot2021.org" target="_blank" rel="noreferrer">equipe@reboot2021.org</a>.
---

<h2 class="category">L'équipe</h2>
<section class="persons">
  {% assign persons = site.persons | where: 'team', true | sort: 'last_name' %}
  {% for person in persons %}
    {% assign name = person.first_name | append: ' ' | append: person.last_name %}
    <article class="person">
      <img  src="/assets/images/people/{{ name | slugify: 'latin' }}.jpg"
            alt="{{ person.name }}"
            class="person__photo"
            width="500">
      {% if person.admin %}
        <span class="person__admin">admin</span>
      {% endif %}
      <h3 class="person__name">{{ person.first_name }} {{ person.last_name }}</h3>
      <a href="{{ person.linkedin }}" target="_blank" rel="noreferrer" class="person__contact">LinkedIn</a>
    </article>
  {% endfor %}
  <article>
    <img src="/assets/images/people/vous.jpg" alt="Vous ?" class="person__photo" width="500">
    <h3 class="person__name">Vous ?</h3>
    <a href="mailto:equipe@reboot2021.org" target="_blank" rel="noreferrer" class="person__contact">Ecrivez-nous&nbsp;!</a>
  </article>
</section>
