---
title: "Retour sur l’édition 2021"
description: 2 jours pour hacker les métiers de la communication !
  Communication, publicité, relations presse, relations publiques, influence,
  numérique...
permalink: /
chapo: >
  Le 30 septembre et le 1er octobre 2021, **plus de 8000 étudiantes et étudiants en communication** ont assisté à la 1ère édition de Reboot!
text: >
  Les 2 jours de conférences et l'ensemble des ressources pédagogiques accessibles en ligne gratuitement ont permis de sensibiliser et former le public étudiant aux enjeux de responsabilité sociétale et environnementale et à la communication responsable.
figures:
  - number: 19
    label: conférences
  - number: 9
    label: ateliers pratiques
  - number: 8170
    label: étudiantes et étudiants
  - number: 32
    label: heures de live sur Twitch
  - number: 1er
    label: live français dans la catégorie Special Events
  - number: 53
    label: ressources pédagogiques
  - number: 67
    label: speakers
  - number: 61
    label: écoles de communication
  - number: 47
    label: bénévoles
  - number: 51
    label: partenaires
verbatims:
  - La durée des modules était idéale (1h30), très pratique d'avoir utilisé Twitch qui fonctionne très bien pour les lives et l'accès au chat
  - Super organisation, super explication ! Vraiment TOP
  - Superbe organisation ! La durée des conférences n'était ni trop longue, ni trop courte
  - Excellent !
  - "Bonne organisation de l'événement: connexion facile et bien guidée"
  - L'organisation de l'évènement boosté par la visibilité sur Twitch est assez magistrale
  - Un événement extraordinaire. Tous les sujets étaient passionnants et captivants.
  - J'ai vraiment été bluffé de l'organisation, pour une première fois c'est incroyable d'arriver à un tel niveau !
  - Je n'avais jamais envisagé la communication sous l'angle de l'éco-responsabilité, les intervenants m'ont fait comprendre à quel point c'est important d'y songer
  - Les ateliers étaient très intéressants, nous ont permis de participer à l'expérience Reboot et les intervenants étaient très pédagogues
  - J'ai appris et compris des choses concernant ma possible future voie
  - Cela m'a fait prendre conscience que la communication plus responsable est possible
  - Les intervenants s’adressaient à nous avec beaucoup de transparence
  - Merci d'avoir crée un événement comme celui-ci !
  - Très belle expérience, avec des propositions riches et denses, à portée des étudiants et dans un environnement numérique fluide. Bravo !
  - Des intervenants professionnels qui savent de quoi ils parlent
  - J'ai adoré, c'était très intéressant et enrichissant !
  - On en ressort averti et mieux sensibilisé sur  notre environnement
  - Certains ateliers étaient très enrichissants quelques conseils resteront ancrés dans ma tête
  - C'était très intéressant et ça donne un sens au métier que je souhaite faire et [envie de] le pratiquer avec éthique et pour des causes positives
---

<h2 class="category">La 1ère édition en chiffres</h2>
<div class="figures">
  {% for figure in page.figures %}
    <div class="figure">
      <span>{{figure.number}}</span>{{figure.label}}
    </div>
  {% endfor %}
</div>

<h2 class="category">Verbatims</h2>
<div class="verbatims">
  {% for verbatim in page.verbatims %}
    <div class="verbatim">
      {{verbatim}}
    </div>
  {% endfor %}
</div>
