---
title: Partenaires
description: Découvrez les partenaires de Reboot !
permalink: /partenaires
chapo: "**Toutes les parties prenantes s'engagent pour former les étudiants !**
  Associations, organisations gouvernementales, coopératives, organisations professionnelles, entreprises... mettent gratuitement leurs [ressources](/ressources) (MOOC, support de formation, dispositif numérique, etc.) à disposition des étudiants et des enseignants, et participent à Reboot !"
aside: "Vous avez des ressources à partager ou vous voulez devenir partenaire ? C'est gratuit et [ca se passe ici !](/partenaires/participer)"
---

<h2 class="category">Avec la participation de...</h2>
<section class="partners partners--gold">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'gold' %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="{{ partner.cover }}" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h2><a href="{{ partner.url }}">{{ partner.title }}</a></h2>
    </article>
  {% endfor %}
</section>

<h2 class="category">Tous les partenaires</h2>
<section class="partners partners--silver">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'silver' %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="{{ partner.cover }}" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h3><a href="{{ partner.url }}">{{ partner.title }}</a></h3>
    </article>
  {% endfor %}
</section>
