---
title: Partenaires
description: Découvrez les partenaires “gold” et “silver”, qui mettent des
  ressources à la disposition des écoles.
permalink: /partenaires
chapo: "**Vous avez des ressources à partager ? Rejoignez les partenaires !**
  Vous êtes une structure impliquée dans les enjeux de responsabilité sociale et
  environnementale et vous avez des ressources pour former à ces enjeux. Reboot!
  est une opportunité de mettre ces ressources à disposition d’un grand nombre
  d’étudiant·e·s."
text: Cela peut-être un MOOC, un support de formation, un dispositif numérique,
  du mentorat de compétence, ou simplement du temps pour donner une conférence.
  Evidemment, tout est gratuit, et si les ressources sont Open Source ou
  Creative Commons, c’est encore mieux. Contactez [l'équipe par ici !](/equipe).
aside: "Vous avez des ressources à partager ou vous voulez devenir partenaire ? [Ça se passe ici !](/partenaires/participer)"
---

<h2 class="category">Avec la participation de...</h2>
<section class="partners partners--gold">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'gold' %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="{{ partner.cover }}" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h2><a href="{{ partner.url }}">{{ partner.title }}</a></h2>
    </article>
  {% endfor %}
</section>

<h2 class="category">Tous les partenaires</h2>
<section class="partners partners--silver">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'silver' %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="{{ partner.cover }}" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h3><a href="{{ partner.url }}">{{ partner.title }}</a></h3>
    </article>
  {% endfor %}
</section>
