---
title: Espace ressources
permalink: /ressources
chapo: "**Tout pour apprendre dès aujourd'hui !** MOOCs, cours, guides, rapports, outils... Ces outils vous sont proposés gratuitement par les [partenaires](/partenaires) Reboot !"
---

<div class="resources">
  {% for partner in site.partners %}
    {% for resource in partner.resources %}
      <div class="resources__resource">
        {% if resource.image %}
          <div class="resources__resource__header">
            <img src="{{ resource.image }}" alt="{{ resource.title }}" class="resources__resource__image">
          </div>
        {% endif %}
        <div class="resources__resource__texts">
          <h2 class="resources__resource__title">{{ resource.title }}</h2>
          <p class="resources__resource__partner"><a href="/partenaires/{{ partner.slug }}">{{ partner.title }}</a></p>
          <p class="resources__resource__description">{{ resource.description | strip_html | truncate: 200 }}</p>
          <a href="{{ resource.url }}" target="_blank" rel="noreferrer" class="resources__resource__url">Accéder à la ressource</a>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>
