---
layout: default
description: Reboot! Les étudiant·e·s mettent à jour le système
---
<nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
  <div class="container">
    <button class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-md-end collapse" id="navbar">
      {% include nav.html %}
    </div>
  </div>
</nav>

<header>
  <div>
    <h1>
      <img src="/assets/images/reboot-blanc.svg" alt="Reboot!" width="300" />
    </h1>
  </div>
  <h2>Les étudiant·e·s mettent à jour le système</h2>
  <p>
    Communication •
    Publicité •
    Relations presse •
    Relations publiques •
    Influence •
    Numérique
  </p>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-md-end">
        Jeudi 30 septembre & <br>
        vendredi 1er octobre 2021
      </h3>
    </div>
    <div class="col-md-7 col-lg-6">
      <p class="lead">
        Le 30 septembre 2020, la proposition de loi “Publicité et transition écologique” a été rejetée par la Commission du développement durable et de l’aménagement du territoire. Pourtant, l’urgence demeure, notamment en ce qui concerne la formation des étudiants liés au secteur de la communication (publicité, relations publiques, communication des organisations, influence, communication numérique...).
        Un an après, les écoles s’organisent et lancent leurs événements “Reboot!” avec deux jours de formation nationale et des travaux publiés sur une plateforme contributive.
      </p>

      <p>
        Découvrez
        <a href="/partenaires">les partenaires</a>,
        <a href="/partenaires">les écoles participantes</a> et
        <a href="/evenements">les événéments</a>.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="h5">Partenaires</h2>
  <div class="row">
    {% for partner in site.partners %}
      <div class="col-md-2">
        <a href="{{ partner.url }}">
          <img src="/assets/images/partners/{{ partner.slug }}.png" alt="{{ partner.title }}" class="img-fluid" width="500">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
