---
layout: default
description: "Les étudiant·e·s en communication mettent à jour le système. Communication, publicité, relations presse, relations publiques, influence, numérique..."
---
<nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"></a>

    <button class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-md-end collapse" id="navbar">
      {% include nav.html %}
    </div>
  </div>
</nav>

<header>
  <div>
    <h1>
      <img src="/assets/images/reboot-blanc.svg" alt="Reboot!" width="300" />
    </h1>
  </div>
  <h2>Les étudiant·e·s en communication mettent à jour le système</h2>
  <p>
    Communication •
    Publicité •
    Relations presse •
    Relations publiques •
    Influence •
    Numérique
  </p>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 class="text-md-end">
        Jeudi 30 septembre & <br>
        vendredi 1er octobre 2021
      </h3>
    </div>
    <div class="col-md-7 col-lg-6">
      <p class="lead">
        Pour changer le monde de la communication et avancer vers une communication responsable, un collectif de professionnels engagés s’organise et lance “Reboot!”&nbsp;: 2 jours de sensibilisation et de formation, des ressources ouvertes, des partenaires de qualité et des travaux publiés sur une plateforme contributive.
      </p>

      <p>
        Découvrez
        <a href="/partenaires">les partenaires</a> et
        <a href="/partenaires">les écoles participantes</a>.<!-- et
        <a href="/evenements">les événéments</a>-->
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <p>Un événement soutenu par...</p>
  <div class="row">
    {% assign validated_partners = site.partners | where: 'level', 'gold' | where: 'validated', true %}
    {% for partner in validated_partners %}
      <div class="col-md-3 col-6">
        <a href="{{ partner.url }}">
          <img src="/assets/images/partners/{{ partner.slug }}.png" alt="{{ partner.title }}" class="img-fluid" width="500">
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <h2 class="h3 mt-5">Comment ça marche ?</h2>
  <div class="row">
    <div class="offset-md-5 col-md-7 mt-3">
      <p>
        Reboot! est un momentum : à la fois une date prise et un élan impulsé. Une mutualisation des initiatives le 30 septembre et le 1er octobre 2021. Pas de format prédéfini, juste un impérieux besoin d’agir pour une communication plus responsable, sans attendre.
      </p>
    </div>
  </div>
  <h2 class="h3 mt-5">Vous avez des ressources à partager&nbsp;? Rejoignez les partenaires&nbsp;!</h2>
  <div class="row">
    <div class="offset-md-5 col-md-7 mt-3">
      <p>
        Vous êtes une structure impliquée dans les enjeux de responsabilité sociale et environnementale et vous avez des ressources pour former à ces enjeux. Reboot! est une opportunité de mettre ces ressources à disposition d’un grand nombre d’étudiants. Cela peut-être un MOOC, un support de formation, un dispositif numérique, du mentorat de compétence, ou simplement du temps pour donner une conférence. Evidemment, tout est gratuit, et si les ressources sont Open Source ou Creative Commons, c’est encore mieux.
      </p>
    </div>
  </div>
  <h2 class="h3 mt-5">Vous avez envie de former vos étudiants&nbsp;? Rejoignez les écoles&nbsp;!</h2>
  <div class="row">
    <div class="offset-md-5 col-md-7 mt-3">
      <p>
        Vous souhaitez intégrer les enjeux sociétaux et environnementaux dans vos enseignements, ou peut-être le faites-vous déjà ? Reboot! est une opportunité d’accéder à de nombreuses ressources, de stimuler les étudiants et d’accélérer. Ateliers “clés en main”, MOOCS, espace de démocratie numérique (Decidim), conférences... tout est possible&nbsp;! <br><br>Si le calendrier pédagogique vous le permet, intégrez le 30 septembre et le 1er octobre 2021 dans votre emploi du temps. Si les dates ne sont pas adaptées pour vous, peut-être pouvez-vous faire travailler vos étudiants avant l’événement, et contribuer en asynchrone&nbsp;? Et si ça ne passe pas du tout, n’hésitez pas à en parler à vos étudiants, qui souhaiteront peut-être s’en saisir par eux-mêmes&nbsp;!
      </p>
    </div>
  </div>
  <h2 class="h3 mt-5">Je suis partant&nbsp;! Comment faire pour monter à bord&nbsp;?</h2>
    <div class="offset-md-5 col-md-7 mt-3">
      <p>
        <a href="/qui-sommes-nous">Contactez l'équipe via LinkedIn!</a>
      </p>
    </div>
  </div>
</div>
