<div>
  <h2 class="category">Programme</h2>
  <p class="events__disclaimer">
    Les événements seront tous accessibles en vidéo-conférence, via Twitch, directement sur les pages ci-dessous. Vous n'avez pas besoin de compte Twitch, sauf si vous voulez participer via le chat. Presque tous les événements seront disponibles en replay après la diffusion.
  </p>
  <div class="events">
    <div class="events__day">
      <h3><img src="/assets/images/programme/jeudi.svg" alt="Jeudi 30 septembre" width="300"></h3>
      {% assign events = site.events | where: 'day', '30/09/2021' | sort: 'start' %}
      {% for event in events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
    <div class="events__day">
      <h3><img src="/assets/images/programme/vendredi.svg" alt="Vendredi 1er octobre" width="300"></h3>
      {% assign events = site.events | where: 'day', '01/10/2021' | sort: 'start' %}
      {% for event in events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
  </div>
</div>
