<div>
  <h2 class="category">Programme</h2>
  <p class="events__disclaimer">
    Attention, ce programme est sujet à modifications.
    Les événements seront tous accessibles en distanciel.
    Si les conditions le permettent, certains événements pourront être à la fois en présentiel et en distanciel.
  </p>
  <div class="events">
    <div class="events__day">
      <h3><img src="/assets/images/programme/jeudi.svg" alt="Jeudi 30 septembre" width="300"></h3>
      {% assign events = site.events | where: 'day', '30/09/2021' | sort: 'start' %}
      {% for event in events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
    <div class="events__day">
      <h3><img src="/assets/images/programme/vendredi.svg" alt="Vendredi 1er octobre" width="300"></h3>
      {% assign events = site.events | where: 'day', '01/10/2021' | sort: 'start' %}
      {% for event in events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
    <div class="events__day">
      <h3>Du 1er au 22 octobre</h3>
      {% assign events = site.events | where: 'day', '22/10/2021' | sort: 'start' %}
      {% for event in events %}
        {% include event.html event=event %}
      {% endfor %}
    </div>
  </div>
</div>
