<article class="event">
  <div class="event__informations">
    {% if include.event.kind %}
      <span class="event__kind">{{ include.event.kind }}</span>
    {% endif %}
    {% if include.event.start %}
      <div class="event__date">
        <span class="event__date__start">{{ include.event.start }}</span>
        <span class="event__date__end">{{ include.event.end }}</span>
      </div>
    {% endif %}
  </div>
  <h1 class="event__title">
    <a href="{{ include.event.url }}" class="event__link">
      {{ include.event.title }}
    </a>
  </h1>
  <ul class="event__persons">
    {% for slug in include.event.persons %}
      {% for p in site.persons %}
        {% assign p_slug = p.title | slugify: 'latin' %}
        {% if p_slug == slug %}
          {% assign person = p %}
        {% endif %}
      {% endfor %}
      <li class="event__person">
        {{ person.title }}
        {% if person.company %}
          <span class="event__person__company">@ {{ person.company }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{{ include.event.url }}" class="event__link">En savoir plus</a>
</article>
