<article class="event">
  {% if include.event.kind %}
    <span class="event__kind">{{ include.event.kind }}</span>
  {% endif %}
  <h1 class="event__title">
    <a href="{{ include.event.url }}" class="event__link">
      {{ include.event.title }}
    </a>
  </h1>
  {% if include.event.start %}
  <div class="event__date">
    <span class="event__date__start">{{ include.event.start }}</span>
    <span class="event__date__end">{{ include.event.end }}</span>
  </div>
  {% endif %}
  <ul class="event__persons">
    {% for person in include.event.people %}
      <li class="event__person">
        {{ person.name }}
        {% if person.company %}
          <span class="event__person__company">@ {{ person.company }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{{ include.event.url }}" class="event__link">En savoir plus</a>
</article>
