<footer>
  <img src="/assets/images/reboot.svg" alt="Reboot!" height="30px">
  <p class="mt-4">Pour suivre l'actualité, inscrivez-vous à la newsletter</p>
  <iframe src="https://rebootorg.substack.com/embed" width="100%" height="100" title="Newsletter" loading="lazy"></iframe>
  <div id="wcb" class="carbonbadge mt-5"></div>
  <a href="/mentions-legales">Mentions légales</a>
</footer>
<script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" async defer></script>
<script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
