<footer class="pb-5 pt-5 text-center">
  <img src="/assets/images/reboot.svg" alt="Reboot!" height="30px">
  <p class="mt-4">Pour suivre l'actualité, inscrivez-vous à la newsletter</p>
  <iframe src="https://rebootorg.substack.com/embed" width="100%" height="300" title="Newsletter" loading="lazy"></iframe>
  <div id="wcb" class="carbonbadge"></div>
  <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" async defer></script>
  <ul class="list-inline mt-5">
    <li class="list-inline-item"><a href="/mentions-legales">Mentions légales</a></li>
  </ul>
</footer>
