header
  margin-bottom: 40px
  div
    background-image: url('../images/background.jpg')
    background-size: cover
    background-position: bottom
    text-align: center
    padding-top: 300px
    padding-bottom: 20px
    h1
      img
        width: 300px
  p, h2
    padding: 20px
    margin: 0
    text-align: center
  p
    text-transform: uppercase
    font-size: 12px
  h2
    padding-bottom: 0

h3
  font-weight: bold

a
  transition: text-decoration 0.5s
  text-decoration-thickness: 1px
  text-decoration-color: rgba(125, 125, 125, 0.3)
  text-underline-offset: 3px
  &:hover
    text-decoration-color: #1d5f7c
  &[target="_blank"]
    &::after
      content: ""
      width: 0.8rem
      height: 0.8rem
      margin: 0 0.05rem 0 0.1rem
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat
      background-size: contain
      display: inline-block
      vertical-align: -0.1rem

footer
  font-size: 12px
