// .container
  // margin-left: $grid-gutter-width / 2

iframe
  mix-blend-mode: difference

.navbar
  a
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 1px
header
  margin-bottom: 40px
  div
    background-color: $primary
    background-image: url('../images/background.jpg')
    background-size: cover
    background-position: bottom
    text-align: center
    padding-top: 300px
    padding-bottom: 20px
  h2
    font-size: 5rem
    line-height: 4rem
    text-transform: uppercase
  p
    text-transform: uppercase
    font-size: 1.5rem

h3
  font-weight: bold

h2.category
  text-transform: uppercase
  letter-spacing: 2px
  font-size: 0.8rem

hr
  background-color: white

footer
  margin-top: 100px
  a
    color: darken($primary, 20)
  iframe
    border: none
    mix-blend-mode: lighten

a
  transition: text-decoration 0.5s
  text-decoration-thickness: 1px
  text-decoration-color: rgba(125, 125, 125, 0.3)
  text-underline-offset: 3px
  &:hover
    text-decoration-color: #1d5f7c
  &[target="_blank"]
    &::after
      content: ""
      width: 0.8rem
      height: 0.8rem
      margin: 0 0.05rem 0 0.1rem
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat
      background-size: contain
      display: inline-block
      vertical-align: -0.1rem

.breadcrumb
  display: block
  white-space: nowrap
  overflow-x: auto
  -ms-overflow-style: none
  scrollbar-width: none
  .breadcrumb-item.active
    color: #505254
  &::-webkit-scrollbar
    display: none
  li
    display: inline-block
    a
      overflow-wrap: anywhere
      text-decoration: none

.navbar .navbar-nav .nav-link.active
  color: $primary
