nav
  position: relative
  padding-bottom: 30px
  border-bottom: 1px solid $transparent_grey
  .logo
    z-index: 10
    @media (prefers-color-scheme: dark)
      filter: invert(1)
  .mobile_button
    display: none
  #menu
    ul
      list-style-type: none
      position: absolute
      top: 0
      right: 0
      li
        display: inline-block
        &::after
          content: " / "
        a
          font-weight: bold
          color: black
          text-decoration: none
          padding: 15px
          @media (prefers-color-scheme: dark)
            color: white
          &.active
            color: $color
  @media(max-width: 768px)
    .mobile_button
      display: block
      text-decoration: none
      text-transform: uppercase
      position: absolute
      font-weight: bold
      padding: 15px
      color: black
      @media (prefers-color-scheme: dark)
        color: white
      &__open
        top: -15px
        right: -15px
      &__close
        top: 15px
        right: 15px
    #menu
      background: white
      top: 0
      right: 0
      left: 0
      bottom: 0
      position: fixed
      display: none
      &:target
        display: block
      ul
        left: 0
        right: 15px
        top: 100px
        li
          display: block
          margin-bottom: 30px
          text-align: right
          &::after
            content: none

.breadcrumb
  font-size: 0.8rem
  padding: 30px 0
  border-bottom: 1px solid $transparent_grey
  display: block
  white-space: nowrap
  overflow-x: auto
  -ms-overflow-style: none
  scrollbar-width: none
  .breadcrumb-item a
    color: black
    @media (prefers-color-scheme: dark)
      color: white
  .breadcrumb-item.active
    color: $color
    font-weight: bold
  &::-webkit-scrollbar
    display: none
  li
    display: inline-block
    line-height: 2rem
    &::after
      content: " / "
    &:last-child::after
      content: ''
    a
      overflow-wrap: anywhere

footer
  margin: 90px 0 0 0
  section
    border-top: 1px solid $transparent_grey
    padding: 30px 0
  ul
    margin: -15px 0
    li
      margin: 15px 0
  a
    font-size: 0.8rem
    text-decoration: none
    color: black
    @media (prefers-color-scheme: dark)
      color: white
  iframe
    border: none
