.navbar .navbar-nav .nav-link.active
  color: $color

.breadcrumb
  display: block
  white-space: nowrap
  overflow-x: auto
  -ms-overflow-style: none
  scrollbar-width: none
  .breadcrumb-item.active
    color: #505254
  &::-webkit-scrollbar
    display: none
  li
    display: inline-block
    a
      overflow-wrap: anywhere
      text-decoration: none
