$color: #009988
$width: 1140px
$transparent_grey: rgba(125, 125, 125, 0.2)

@mixin small-text
  font-size: 1.2rem
  line-height: 1.6rem

@mixin very-small-text
  font-size: 0.8rem
  line-height: 1.2rem
