---
title: Partenaires
description: Découvrez les partenaires “gold” et “silver”, qui mettent des ressources à la disposition des écoles.
permalink: /partenaires
---

<p class="chapo">{{ site.data.texts.partenaires.chapo | correct_punctuation }}</p>


<h2 class="category">Un événement soutenu par...</h2>

<section class="grid grid__large">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'gold' %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="/assets/images/partners/{{ partner.slug }}.png" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h2><a href="{{ partner.url }}">{{ partner.title }}</a></h2>
    </article>
  {% endfor %}
</section>

<h2 class="category">Tous les partenaires</h2>
<section class="grid grid__small">
  {% assign validated_partners = site.partners | where: 'validated', true | where: 'level', 'silver'  %}
  {% for partner in validated_partners %}
    <article>
      <a href="{{ partner.url }}">
        <img src="/assets/images/partners/{{ partner.slug }}.png" alt="{{ partner.title }}" class="img-fluid">
      </a>
      <h3><a href="{{ partner.url }}">{{ partner.title }}</a></h3>
    </article>
  {% endfor %}
</section>
