<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML Meta Tags -->
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}" />
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/images/share.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="reboot2021.org">
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}">

    <!-- Icons -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preload" href="/assets/fonts/AesteticoInformal-Bold/font.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="/assets/fonts/AesteticoInformal-ExtraLight/font.woff2" as="font" crossorigin="anonymous" />
  </head>
  <body>
    {{ content }}
    <footer class="pb-5 pt-5">
      <div class="container text-center">
        <div class="text-center">
          <img src="/assets/images/reboot.svg" alt="Reboot!" height="30px">
          <p class="mt-4">Pour suivre l'actualité, inscrivez-vous à la newsletter</p>
        </div>
        <iframe src="https://rebootorg.substack.com/embed" width="100%" height="100" title="Newsletter" loading="lazy"></iframe>
        <hr class="mt-5">
        <div id="wcb" class="carbonbadge mt-5"></div>
        <hr class="mt-5">
        <ul class="list-inline mt-5">
          <li class="list-inline-item"><a href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
          <li class="list-inline-item"><a href="/mentions-legales">Mentions légales</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
    <script src="https://unpkg.com/website-carbon-badges@1.1.1/b.min.js" async defer></script>
  </body>
</html>
