<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.description}}">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>
    <header>
      <div>
        <h1>
          <img src="/assets/images/reboot.svg" alt="Reboot!" />
        </h1>
      </div>
      <h2>Les étudiant·e·s mettent à jour le système</h2>
      <p>
        Communication •
        Publicité •
        Relations presse •
        Relations publiques •
        Influence •
        Numérique
      </p>
    </header>
    {{ content }}
  </body>
</html>
