<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | strip_html}}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta property="og:image" content="/assets/images/share.jpg">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}">
    <meta name="twitter:image" content="/assets/images/share.jpg">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
  </head>
  <body>
    {{ content }}
    <footer class="pb-5 pt-5">
      <div class="container text-center">
        <img src="/assets/images/reboot.svg" alt="Reboot!" height="30px">
        <p class="mt-4">Pour suivre l'actualité, inscrivez-vous à la newsletter</p>
        <iframe src="https://rebootorg.substack.com/embed" width="100%" height="100" style="border:0; background: transparent;" frameborder="0" scrolling="no"></iframe>
        <ul class="list-inline mt-5">
          <li class="list-inline-item"><a href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
          <li class="list-inline-item"><a href="/mentions-legales">Mentions légales</a></li>
        </ul>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  </body>
</html>
