---
layout: full
---

<article class="event">

  {% if page.twitch %}
    <section class="event__video">
      <div id="twitch-embed"></div>
      <script src="https://embed.twitch.tv/embed/v1.js"></script>
      <script type="text/javascript">
        new Twitch.Embed("twitch-embed", {
          width: '100%',
          height: 640,
          channel: "{{ page.twitch }}"
        });
      </script>
      <p>
          Des sous-titres générés automatiquement sont disponibles en vous rendant
          <a href="https://www.twitch.tv/{{ page.twitch }}">
              sur la page Twitch {{ page.twitch }}
          </a>.
          Cliquez ensuite sur [CC], à droite du player, pour les activer.
      </p>
    </section>
  {% endif %}

  <div class="event__informations">
    {% if page.kind %}
      <span class="event__kind">{{ page.kind }}</span>
    {% endif %}
    <div class="event__date">
      {% if page.first_day %}
      <span class="event__date__first_day">{{ page.first_day }} ...</span>
      {% endif %}
      <span class="event__date__day">{{ page.day }}</span>
      {% if page.start %}
        <span class="event__date__start">{{ page.start }}</span>
      {% endif %}
      {% if page.end %}
        <span class="event__date__end">{{ page.end }}</span>
      {% endif %}
    </div>
  </div>
  <p class="event__description">{{ page.description | correct_punctuation }}</p>

  <section class="event__persons">
    {% for slug in page.persons %}
      {% for p in site.persons %}
        {% assign p_slug = p.title | slugify: 'latin' %}
        {% if p_slug == slug %}
          {% assign person = p %}
        {% endif %}
      {% endfor %}
      <article class="person">
        <img src="{{ person.image }}" alt="{{ person.title }}" class="person__photo" width="500">
        <h2 class="person__name">{{ person.title }}</h2>
        {% if person.company %}
            <p class="person__company">@ {{ person.company }}</p>
        {% endif %}
        {% if person.description %}
          <p class="person__description">{{ person.description }}</p>
        {% endif %}
        <a href="{{ person.linkedin }}" target="_blank" rel="noreferrer" class="person__contact">LinkedIn</a>
      </article>
    {% endfor %}
  </section>

  <section class="event__organization">
    <h2 class="event__organization__title">Équipe technique</h2>
    <div class="event__organization__persons">
        {% for role in site.data.nav.roles %}
          {% assign person_slug = page[role.slug] %}
          {% if person_slug %}
              {% for p in site.persons %}
                {% assign slug = p.title | slugify: 'latin' %}
                {% if slug == person_slug %}
                  {% assign person = p %}
                {% endif %}
              {% endfor %}
              <article class="person">
                <h3 class="person__name">
                  {{ person.title }}
                </h3>
                <p class="person__description">
                    {{ role.title }}<br>
                    <a href="{{ person.linkedin }}" target="_blank" rel="noreferrer">LinkedIn</a>
                </p>
              </article>
          {% endif %}
        {% endfor %}
    </div>
  </section>
</article>
