---
layout: default
---
{% include nav.html %}
<main>
  <div class="index__hook">
    <h1 class="index__hook__title">{{ page.title }}</h1>
    <img  src="/assets/images/index/dates.svg"
          alt="Jeudi 30 septembre et vendredi 1er octobre - gratuit !"
          class="index__hook__dates"
          width="439" height="387">

  </div>
  <div class="chapo">{{ page.chapo | markdownify | correct_punctuation }}</div>
  <p>{{ page.text | markdownify | correct_punctuation }}</p>
  <aside>
    <p>{{ page.aside | markdownify | correct_punctuation }}</p>
  </aside>
  <h2 class="category">Avec la participation de...</h2>
  <section class="partners partners--gold">
    {% assign validated_partners = site.partners | where: 'level', 'gold' | where: 'validated', true %}
    {% for partner in validated_partners %}
    <article class="partner">
      <a href="{{ partner.url }}">
        <img src="/assets/images/partners/{{ partner.slug }}.png" alt="{{ partner.title }}" class="img-fluid" width="500">
      </a>
      <h2><a href="{{ partner.url }}">{{ partner.title }}</a></h2>
    </article>
    {% endfor %}
  </section>
</main>
{% include footer.html %}
