---
layout: default
---

<div class="partner">
  <img src="/assets/images/partners/{{ page.slug }}.png" alt="{{ page.title }}" class="partner__logo" width="672" height="672">

  <p class="chapo">{{ page.description | correct_punctuation  }}</p>

  {% if page.site %}
    <h2 class="category">Site</h2>
    <p class="mb-5"><a href="{{ page.site }}" target="_blank" rel="noreferrer">{{ page.site }}</a></p>
  {% endif %}
  {% if page.contact %}
    <h2 class="category">Contact</h2>
    <p>{{ page.contact | correct_punctuation  }}</p>
  {% endif %}

  {% if page.resources.size > 0 %}
    <h2 class="category mt-5">Ressources mises à la disposition des écoles par "{{ page.title }}"</h2>
    {% for resource in page.resources %}
      <div class="row mt-4">
        <div class="col-md-3 mt-4">
          {% if resource.image %}
            <a href="{{ resource.url }}" target="_blank" rel="noreferrer">
              <img src="/assets/images/partners/{{ page.slug }}/{{ resource.image }}" alt="{{ resource.title }}" class="img-fluid img-thumbnail">
            </a>
          {% endif %}
        </div>
        <div class="offset-md-1 col-md-7 mt-4">
          <h3 class="h5"><b>{{ resource.title | correct_punctuation  }}</b></h3>
          <p>{{ resource.description | correct_punctuation }}</p>
          <a href="{{ resource.url }}" target="_blank" rel="noreferrer">{{ resource.url }}</a>
        </div>
      </div>
      <hr class="mt-5">
    {% endfor %}
  {% endif %}
</div>
