---
layout: default
---

<div class="partner">
  <div>
    <img src="/assets/images/partners/{{ page.slug }}.png" alt="{{ page.title }}" class="partner__logo" width="672" height="672">
    <p class="chapo">{{ page.description | correct_punctuation  }}</p>
  </div>
  <p>{{ page.text | correct_punctuation  }}</p>

  {% if page.site %}
    <h2 class="category">Site</h2>
    <p class="partner__site">
      <a href="{{ page.site }}" target="_blank" rel="noreferrer">{{ page.site }}</a>
    </p>
  {% endif %}
  {% if page.contact %}
    <h2 class="category">Contact</h2>
    <p>{{ page.contact | correct_punctuation  }}</p>
  {% endif %}

  {% if page.resources.size > 0 %}
    <h2 class="category">Ressources mises à la disposition des écoles par "{{ page.title }}"</h2>
    {% for resource in page.resources %}
      <div class="resource">
        <div class="resource__image">
          {% if resource.image %}
            <a href="{{ resource.url }}" target="_blank" rel="noreferrer">
              <img src="/assets/images/partners/{{ page.slug }}/{{ resource.image }}" alt="{{ resource.title }}">
            </a>
          {% endif %}
        </div>
        <div class="resource__texts">
          <h3>{{ resource.title | correct_punctuation  }}</h3>
          <p>{{ resource.description | correct_punctuation }}</p>
          {% if resource.url %}
            <p class="resource__link">
              <a href="{{ resource.url }}" target="_blank" rel="noreferrer">{{ resource.url }}</a>
            </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
