---
layout: default
---
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/assets/images/reboot.svg" alt="Reboot!" height="20" /></a>
    <button class="navbar-toggler collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-md-end collapse" id="navbar" style="">
      {% include nav.html %}
    </div>
  </div>
</nav>

<div class="container mt-5">

  {% include breadcrumb.html %}

  <h1 class="mt-5 mb-5">{{ page.title }}</h1>

  {{ content }}
</div>
